html, body {
  height: 100%;
  margin: 0;
}
.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  flex: 1;
}
.navbar.fixed-top {
  transition: top 0.3s;
}
.text-pri {
  color: #8f0502;
}
.bg-pri {
  background-color: #8f0502;
  color: #ffffff;
}
.icon-pri {
  color: #8f0502 !important;
  font-size: 2rem !important;
}
.section {
  margin-top: 10rem;
}
.card-img {
  height: 550px;
  object-fit: cover;
  width: 100%;
}
.btn-pri {
  background-color: #8f0502 !important;
  color: #ffffff !important;
  border-radius: 24px;
  font-weight: bold;
  padding: 8px 20px;
}
.btn-pri:hover {
  background-color: #d42724 !important;
  color: #ffffff;
}
.btn-sec {
  background-color: #ffffff !important;
  border: 1px solid #8f0502 !important;
  border-radius: 24px;
  color: #8f0502 !important;
  width: 13rem;
}
.btn-sec:hover {
  background-color: #c94c4a !important;
  color: #ffffff !important;
}
.btn-sec-s {
  background-color: #ffffff !important;
  border: 1px solid #8f0502 !important;
  border-radius: 9px !important;
  color: #8f0502 !important;
}
.btn-sec-s:hover {
  background-color: #c94c4a !important;
  color: #ffffff !important;
}
.card-pri {
  background-color: #8f0502;
  color: #ffffff;
}
.social-card{
  background-color: #8f0502 !important;
  border-radius: 20px !important;
  box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.1) !important;
  transition: transform 0.3s ease-in-out !important;
}
.social-card:hover {
  transform: translateY(-5px);
}
.icon-container i {
  font-size: 50px;
  color: #ffffff;
}
.card-sec {
  border-radius: 1.5rem !important;
  border: 1px solid #c94c4a !important;
}
.border-radius {
  border-radius: 1rem !important;
}
.custom-container {
  max-width: 1250px !important;
  margin: 0 auto;
}
.custom-container-sec{
  max-width: 35rem !important;
  margin: 0 auto;
}
.w-input {
  width: 26.5rem;
}
.w-button {
  width: 54.8rem;
}
.burger {
  background-color: #ffffff !important;
}
.navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}
.mx-nav {
  margin: 0.1rem;
}
@media (min-width: 992px) {
  .mx-nav {
    margin-left: 9rem !important;
    margin-right: 9rem !important;
  }
}
.footer-color {
  background-color: #8f0502 !important;
  color: #ffffff !important;
}
.label-sec {
  display: inline-block;
  background-color: #ffffff !important;
  border: 1px solid #8f0502;
  border-radius: 24px !important;
  padding: 0 1rem;
}
input{
  border: 1px solid #8f0502 !important;
  border-radius: 12px !important;
}
.product-icon {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
@media (max-width: 576px) {
  .product-icon {
    width: 70px;
    height: 70px;
  }
}
@media (max-width: 991.98px) {
  .navbar-collapse {
    margin-top: 0.5rem;
    border-radius: 0.5rem;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-nav .nav-item {
    margin-left: 0;
    margin-right: 0;
  }

  .navbar-nav .btn {
    width: 100%;
    text-align: left;
    margin-top: 0.5rem;
  }
}
